name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Pre-commit checks
        run: |
          nix develop
          pre-commit run --all-files --hook-stage manual --show-diff-on-failure
