name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: DeterminateSystems/determinate-nix-action@v3
      - run: nix develop

      # ---------- Run everything inside your devShell (like direnv locally) ----------
      - name: Run pre-commit (use Nix-generated config)
        run: |
          pre-commit run --all-files --hook-stage manual --show-diff-on-failure
